<div class="row">
	<div class="ten columns">
		<h1>My name is <strong>Jamal Soueidan</strong></h1>

		<p>My name is Jamal Soueidan, I'm 28 years old, I live in Aarhus, the second biggest city in Denmark.</p>

		<p>In the last 3 years I've been working in Copenhagen as Developer, and it have been very exciting. I've been working with allot of different technologies and frameworks. “JavaScript, PHP, ActionScript, Ruby.”</p>

		<p>I started developing and coding websites in 1998 and since then I've been learning various technologies, because of my urge to discover new ways of developing websites, and my fascination for the technology behind it all.</p>

		<p>In my free time I develop freelance projects, something I really enjoy :) beside that I love to play Chess at Chess.com</p>

		If you have any comments, suggestions, questions, etc. I'd love to hear them! Please send an email to, jamal [at] soueidan [dot] com		
	</div>
	
	<div class="two columns">
		<h3>Educations:</h3>
		<ul>
			<li>3D College</li>
			<li>Web Integrator</li>
			<li>High school diploma</li>
			<li>Basic Data technician (C++ programming)</li>
			<li>Mathematics Level C</li>
		</ul>

		<h3>Experience:</h3>
		<ul>
			<li>Ruby </li>
			<li>ActionScript 3</li>
			<li>PHP</li>
			<li>JavaScript</li>
		</ul>

		<h3>Languages:</h3>
		<ul>
			<li>Arabic</li>
			<li>Danish</li>
			<li>English</li>
		</ul>
		
	</div>
</div>
