<li>
	<h1><%= link_to project.title, project_path(project) %></h1>
	<span class="date">Developed <%= project.developed_date%></span>
  <% unless project.uploads.empty? %>
	<span class="thumb"><%= image_tag project.uploads.first.avatar(:small), :style => "height:150px;" %></span>
  <% end %>
	<span class="language"><%=project.language%></span>
</li>
