<div class="row">
	<div class="nine columns">
		<< <%= link_to "Back", :back %>
		
		<div class="post">
			<h1><%=@project.title%></h1>
			<p><%=raw @project.description%></p>
		</div>
	</div>
	<div class="three columns">

	</div>
</div>