<h5>About me</h5>
<p>"I've been learning various technologies, because of my urge to discover new ways of developing websites, and my fascination for the technologies..."</p>
<p>
	<a href="http://dk.linkedin.com/in/jamalsoueidan" target="_blank"><img src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.png" width="120" height="33" border="0" alt="View Jamal Soueidan's profile on LinkedIn"></a><br />
	<a href="https://github.com/jamalsoueidan" style="text-decoration:none;" target="_blank"><%= image_tag 'github.png', :style => "width:27px;height:40px;vertical-align:middle", :alt => "View Jamal Soueidan's profile on Github" %> Github Profile</a>
</p>

<h5>Where to find me?</h5>
<ul>
	<li><a href="http://www.ruby-forum.org" target="_blank">Ruby</a></li>
	<li><a href="http://www.actionscript.org/forums" target="_blank">ActionScript</a></li>
	<li><a href="http://refactormycode.com/" target="_blank">Refactor My Code</a></li>
	<li><a href="http://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
</ul>

<h5>Few blogs I like</h5>
<ul>
	<li><a href="http://www.techcrunch.com" target="_blank">Techcrunch</a></li>
	<li><a href="http://www.37signals.com" target="_blank">37signals</a></li>
	<li><a href="http://www.martinfowler.com/" target="_blank">Martin Fowler</a></li>
	<li><a href="http://www.sethgodin.com/sg//" target="_blank">Seth Godin</a></li>
	<li><a href="http://www.joelonsoftware.com/" target="_blank">Joel on Software</a></li>
	<li><a href="http://www.slowleadership.org/" target="_blank">Slow Leadership</a></li>
	<li><a href="http://www.codinghorror.com/blog/" target="_blank">Coding Horror</a></li>				
</ul>